@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #006fee;
  --secondary: #9353d3;
  --danger: #f31260;
  --success: #17c964;
  --warning: #f5a524;

  --dangerText: #f31261b7;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

p {
  font-size: 1rem;
}
